body {
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    font-family: "Rock Salt", "Indie Flower", "Shadows Into Light", cursive;
    background-image: linear-gradient(0deg,
            rgba(247, 247, 247, 1) 23.8%,
            rgba(252, 221, 221, 1) 92%);
    background-repeat: no-repeat;
    min-height: 100vh;

}

#group {
    margin: 40px auto;
    float: none;
}

header {
    text-align: center;
}

h2 {
    font-size: 45px;
}

h5 {
    font-size: 20px;
    padding-bottom: 20px;
}

input {
    display: flex;
    width: 100%;
    padding: 12px;
    border: none;
    border-bottom: 2px solid #464646;
    background-color: transparent;
    font-size: 30px;
    color: #464646;
    outline: none;

}

input::placeholder {
    color: #464646;
}

/* .task-div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .5rem;
    font-size: 1.2rem;
    background-color: white;
    transition: .5s ease-in-out;
} */

.todolarimiz {
    width: 100%;
    height: 25em;
    line-height: 60px;
    font-size: 10em;
    padding: 0 2em;
    color: #080808;
    cursor: pointer;
}

/* .task-li {
    flex: 1;
    padding: 1rem;
} */

ul li {
    font-size: 2em;
}


ul li:hover {
    font-size: 35px;
    border-radius: 30px;


}
/*
.task-btn {
    background: transparent;
    background-color: var(--accent-color);
    outline: none;
    border: none;
    font-size: 1.8em;
    padding: 1.5rem;
    color: white;
}

.task-btn-sil {

    background-color: #a29bfe;
}



.task-btn-tamamlandi {
    text-decoration: line-through;
    opacity: 0.5;
} */

.far {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    color: grey;
}


li span {

    float: right;
    opacity: 0;
}

li:hover span {
    opacity: 1;
    color: red;
}